<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateNugetPackage.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!--deprecated-->
  <PropertyGroup>
    <CreateNugetPackageDependsOn>
      AddBuildFilesToNugetPackageWorkingDirectory;
      PrepareNugetPackage;
      BeforeCreateNugetPackage;
      CoreCreateNugetPackage;
      AfterCreateNugetPackage;
    </CreateNugetPackageDependsOn>
  </PropertyGroup>

  <PropertyGroup>
    <WorkingNugetPackagePath Condition="$(WorkingNugetPackagePath) == ''">$(WorkingDirectoryPath)\NugetPackage</WorkingNugetPackagePath>
    <NugetPackageName Condition="$(NugetPackageName) == ''">$(SolutionName)</NugetPackageName>
    <NugetPackageNamespace Condition="$(NugetPackageNamespace) == ''">http://schemas.microsoft.com/packaging/2011/08/nuspec.xsd</NugetPackageNamespace>

    <NugetPackageSpecificationFilePath>$(SolutionsPath)\Build\NCastor.nuspec</NugetPackageSpecificationFilePath>
  </PropertyGroup>

  <Target Name="CreateNugetPackage" DependsOnTargets="$(CreateNugetPackageDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateNugetPackage" />
  <Target Name="AfterCreateNugetPackage" />
  <Target Name="PrepareNugetPackage" />
  <Target Name="AddBuildFilesToNugetPackageWorkingDirectory" >

    <MSBuild.ExtensionPack.FileSystem.Folder
      TaskAction="RemoveContent"
      RetryCount="$(NumberOfRetriesWhenDeletingFolders)"
      Path="$(WorkingNugetPackagePath)" 
      ContinueOnError="false" 
      Condition="Exists($(WorkingNugetPackagePath))" />
    <NCastor.AutoBuilder.Tasks.FileSystem.Folder.RemoveDirectoryWithRetries 
      RetryCount="$(NumberOfRetriesWhenDeletingFolders)" 
      ContinueOnError="false" 
      Directories="$(WorkingNugetPackagePath)" 
      Condition="Exists($())" />

    <MakeDir ContinueOnError="false" Directories="$(WorkingNugetPackagePath)" Condition="!Exists($(WorkingNugetPackagePath))" />

    <MSBuild.ExtensionPack.FileSystem.RoboCopy 
      Source="$(BuildingPath)" 
      Destination="$(WorkingNugetPackagePath)" 
      Files="*.*"
      Options="/MIR"/>
  </Target>

  <Target Name="CoreCreateNugetPackage" >

    <Error ContinueOnError="false" Text="The Nuget spec file was not specified" Condition="$(NugetPackageSpecificationFilePath) == ''" />
    <Error ContinueOnError="false" Text="The Nuget spec file was not found" Condition="!Exists($(NugetPackageSpecificationFilePath))" />
    <Error ContinueOnError="false" Text="The Semantic version was not specified (did you skip the CalculateSemanticVersion task?)" Condition="$(SemanticVersion) == ''" />

    <Copy SourceFiles="$(NugetPackageSpecificationFilePath)" DestinationFolder="$(WorkingNugetPackagePath)" />

    <ItemGroup>
      <_NugetSpecFile Include="$(NugetPackageSpecificationFilePath)" />
    </ItemGroup>

    <PropertyGroup>
      <_NugetSpecFilePath>$(WorkingNugetPackagePath)\%(_NugetSpecFile.FileName)%(_NugetSpecFile.Extension)</_NugetSpecFilePath>
    </PropertyGroup>

    <MSBuild.Community.Tasks.XmlUpdate
      Prefix="nu"
      Namespace="$(NugetPackageNamespace)"
      XmlFileName="$(_NugetSpecFilePath)"
      XPath="//nu:package/nu:metadata/nu:version"
      Value="$(SemanticVersion)" />

    <MSBuild.ExtensionPack.Xml.XmlFile
      File="$(_NugetSpecFilePath)"
      XPath="/package/metadata/dependencies/dependency[@id='SampleDependency']"
      TaskAction="RemoveElement" />

    <Exec WorkingDirectory='$(WorkingNugetPackagePath)' Command='"$(NugetRunner)" pack -Verbose -Prop Configuration=Release"' />

    <MSBuild.Community.Tasks.XmlRead
      Prefix="nu"
      Namespace="$(NugetPackageNamespace)"
      XmlFileName="$(_NugetSpecFilePath)"
      XPath="//nu:package/nu:metadata/nu:id">
      <Output PropertyName="_GeneratedNugetPackageName" TaskParameter="Value"/>
    </MSBuild.Community.Tasks.XmlRead>

    <Copy SourceFiles='$(WorkingNugetPackagePath)\$(_GeneratedNugetPackageName).$(SemanticVersion).nupkg' DestinationFolder='$(DropsPath)' />

  </Target>
  
</Project>
