        <!--TODO: uncomment the runners that you want to use-->
        <!--<NUnitRunner>$(NugetPackagesPath)\NUnit.Runners.2.6.0.12051\tools\nunit-console.exe</NUnitRunner>-->
        <!--<MSPecRunner>$(NugetPackagesPath)\Machine.Specifications.0.5.6.0\tools\mspec-clr4.exe</MSPecRunner>-->
        <!--<MSTestRunner>C:\Program Files\Microsoft Visual Studio 10.0\Common7\IDE\MSTest.exe</MSTestRunner>-->

        <!--<OpenCoverRunner>$(NugetPackagesPath)\OpenCover.4.0.301\OpenCover.Console.exe</OpenCoverRunner>-->

        <!--<ReportGeneratorRunner>$(NugetPackagesPath)\ReportGenerator.1.2.7.0\ReportGenerator.exe</ReportGeneratorRunner>-->

        <!--<NugetRunner>$(NugetPackagesPath)\NuGet.CommandLine.1.7.0\tools\NuGet.exe</NugetRunner>-->