        <!--<GitRunner>C:\Program Files\Git\bin\git.exe</GitRunner>-->
        <!--<SvnRunnersPath>C:\Program Files\TortoiseSVN\bin</SvnRunnersPath>-->
        <TFSRunner>C:\Program Files\Microsoft Visual Studio 10.0\Common7\IDE\tf.exe</TFSRunner>