<?xml version="1.0" encoding="utf-8" ?>

<!--
"Your stuff"

Your Custom Distribute targets
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <!--Place here your custom distribute targets-->

</Project>
