<?xml version="1.0" encoding="utf-8" ?>

<!--
"Your stuff"

Your Custom Distribute Artifacts targets
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <!--Place here your custom distribute artifacts targets-->

  <!--<Target Name="PrepareDistributeArtifacts">

    <PropertyGroup>
      <_PrivateNugetServerPath>c:\MyPrivateNugetServer</_PrivateNugetServerPath>
    </PropertyGroup>

    <ItemGroup>
      <DistributeArtifactFiles
        Include="$(DropsPath)\NCastor.AutoBuilder.*.nupkg">
        <OutputPath>$(_PrivateNugetServerPath)</OutputPath>
      </DistributeArtifactFiles>
    </ItemGroup>

  </Target>-->

</Project>
