<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <ReportMSpecOpenCoverWithRGDependsOn>
      CleanMSpecOpenCoverWithRGArtefacts;
      CreateMSpecOpenCoverWithRGArtefacts;
      BeforeReportMSpecOpenCoverWithRG;
      CoreReportMSpecOpenCoverWithRG;
      AfterReportMSpecOpenCoverWithRG;
    </ReportMSpecOpenCoverWithRGDependsOn>
  </PropertyGroup>

  <Target Name="ReportMSpecOpenCoverWithRG" DependsOnTargets="$(ReportMSpecOpenCoverWithRGDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeReportMSpecOpenCoverWithRG" />
  <Target Name="AfterReportMSpecOpenCoverWithRG" />

  <Target Name="CoreReportMSpecOpenCoverWithRG" >

    <Error ContinueOnError="false" Text="The report generator runner was not specified" Condition="$(ReportGeneratorRunner) == ''" />
    <Error ContinueOnError="false" Text="The report generator runner was not found" Condition="!Exists($(ReportGeneratorRunner))" />

    <Exec ContinueOnError="false" Command='"$(ReportGeneratorRunner)" "$(OpenCoverMSpec_ReportFilePath)" "$(ReportGeneratorMSpecReportPath)"' />

  </Target>
  
</Project>
