<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <ReportMSpecOpenCoverWithReportGeneratorDependsOn>
      CleanReportMSpecOpenCoverWithReportGeneratorArtefacts;
      CreateReportMSpecOpenCoverWithReportGeneratorArtefacts;
      BeforeReportMSpecOpenCoverWithReportGenerator;
      CoreReportMSpecOpenCoverWithReportGenerator;
      AfterReportMSpecOpenCoverWithReportGenerator;
    </ReportMSpecOpenCoverWithReportGeneratorDependsOn>
  </PropertyGroup>

  <Target Name="ReportMSpecOpenCoverWithReportGenerator" DependsOnTargets="$(ReportMSpecOpenCoverWithReportGeneratorDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeReportMSpecOpenCoverWithReportGenerator" />
  <Target Name="AfterReportMSpecOpenCoverWithReportGenerator" />

  <Target Name="CoreReportMSpecOpenCoverWithReportGenerator" >

    <Error ContinueOnError="false" Text="The report generator runner was not specified" Condition="$(ReportGeneratorRunner) == ''" />
    <Error ContinueOnError="false" Text="The report generator runner was not found" Condition="!Exists($(ReportGeneratorRunner))" />

    <Exec ContinueOnError="false" Command='"$(ReportGeneratorRunner)" "$(OpenCoverMSpec_ReportFilePath)" "$(ReportGeneratorMSpecReportPath)"' />

  </Target>
  
</Project>
