<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <PackageNugetsDependsOn>
      PrepareNugetPackages;
      BeforePackageNugets;
      CorePackageNugets;
      AfterPackageNugets;
    </PackageNugetsDependsOn>
  </PropertyGroup>

  <Target Name="PackageNugets" DependsOnTargets="$(PackageNugetsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforePackageNugets" />
  <Target Name="AfterPackageNugets" />
  
  <Target Name="CorePackageNugets" >

    <Error ContinueOnError="false" Text="You need to specify at least one nuget package to process" Condition="@(NugetPackages) == ''" />
    <Error ContinueOnError="false" Text="The Nuget runner was not specified" Condition="$(NugetRunner) == ''" />
    <Error ContinueOnError="false" Text="The Nuget runner was not found" Condition="!Exists($(NugetRunner))" />

    <Error
      ContinueOnError="false"
      Text="For every nuget package to process, you need to specify the nuspec or project in the include NugetPackages.Include"
      Condition="%(NugetPackages.Identity) == ''" />
    <Error
      ContinueOnError="false"
      Text="For every nuget package to process, you need to specify its SourcePath property"
      Condition="%(NugetPackages.SourcePath) == ''" />
    <Error
      ContinueOnError="false"
      Text="For every nuget package to process, you need to specify its Version property"
      Condition="%(NugetPackages.Version) == ''" />
    
    <Exec 
      ContinueOnError="false"
      WorkingDirectory="%(NugetPackages.SourcePath)"
      Command='"$(NugetRunner)" pack "%(NugetPackages.Identity)" -Verbose -Version %(NugetPackages.Version) -OutputDirectory "$(DropsPath)" %(NugetPackages.ExtraOptions)' />

  </Target>
  
</Project>
