<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="PrepareBackupArtefacts.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <PrepareBackupArtefactsDependsOn>
      BeforePrepareBackupArtefacts;
      CorePrepareBackupArtefacts;
      AfterPrepareBackupArtefacts;
    </PrepareBackupArtefactsDependsOn>
  </PropertyGroup>

  <Target Name="PrepareBackupArtefacts" DependsOnTargets="$(PrepareBackupArtefactsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforePrepareBackupArtefacts" />
  <Target Name="AfterPrepareBackupArtefacts" />

  <Target Name="CorePrepareBackupArtefacts" />
  
</Project>
