<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateNUnitReport.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateNUnitReportDependsOn>
      BeforeCreateNUnitReport;
      CoreCreateNUnitReport;
      AfterCreateNUnitReport;
    </CreateNUnitReportDependsOn>
  </PropertyGroup>

  <Target Name="CreateNUnitReport" DependsOnTargets="$(CreateNUnitReportDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateNUnitReport" />
  <Target Name="AfterCreateNUnitReport" />

  <Target Name="CoreCreateNUnitReport" >

    <Exec 
      ContinueOnError="false"
      Command='"$(NUnitReportGeneratorRunner)" "$(NUnitXmlReportFilePath)" "$(NUnitHtmlReportFilePath)"'/>
    
  </Target>
  
</Project>
