<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CustomizeMSpecWithOpenCoverArguments.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CustomizeMSpecWithOpenCoverArgumentsDependsOn>
      BeforeCustomizeMSpecWithOpenCoverArguments;
      CoreCustomizeMSpecWithOpenCoverArguments;
      AfterCustomizeMSpecWithOpenCoverArguments;
    </CustomizeMSpecWithOpenCoverArgumentsDependsOn>
  </PropertyGroup>

  <Target Name="CustomizeMSpecWithOpenCoverArguments" DependsOnTargets="$(CustomizeMSpecWithOpenCoverArgumentsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCustomizeMSpecWithOpenCoverArguments" />
  <Target Name="AfterCustomizeMSpecWithOpenCoverArguments" />

  <Target Name="CoreCustomizeMSpecWithOpenCoverArguments" >

    <Message Text="$(LoggingMessagePrefix) Setting up MSpec and OpenCover arguments..." Importance="high" />
    
    <Error Text="The MSpec assemblies were not parsed or were not specified" Condition="@(_MSpecAssembliesToRunCodeCoverage) == ''"/>
    <Error Text="The instrumentation assemblies were not parsed or were not specified" Condition="@(_AssembliesToInstrumentWithOpenCoverMSpec) == ''"/>

    <PropertyGroup>
      <MSpecRunnerWithOpenCoverArguments>--xml \&quot;$(MSpecXmlReportFilePath)\&quot; --html \&quot;$(MSpecHtmlReporthFilePath)\&quot; @(_MSpecAssembliesToRunCodeCoverage, ' ')</MSpecRunnerWithOpenCoverArguments>
      <_OpenCoverMSpecCommand>-target:"$(MSPecRunner)" -targetargs:"$(MSpecRunnerWithOpenCoverArguments)"</_OpenCoverMSpecCommand>
      <OpenCoverRunnerArgumentsForMSpec>-targetdir:&quot;$(TestAssembliesPath)&quot; -mergebyhash -register -returntargetcode -filter:&quot;@(_AssembliesToInstrumentWithOpenCoverMSpec, ' ')&quot; -output:&quot;$(OpenCoverMSpec_ReportFilePath)&quot; $(_OpenCoverMSpecCommand)</OpenCoverRunnerArgumentsForMSpec>
    </PropertyGroup>

  </Target>
  
</Project>
