<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="RunMSpecWithOpenCover.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <RunMSpecWithOpenCoverDependsOn>
      SettingMSpecTestingAssemblies;
      SettingInstrumentationAssemblies;
      ValidateMSpecProperties;
      ValidateOpenCoverProperties;
      CleanMSpecArtifactDirectories;
      CreateMSpecArtifactDirectories;
      SetMSpecWithOpenCoverArguments;
      CustomizeMSpecWithOpenCoverArguments;
      BeforeRunMSpecWithOpenCover;
      CoreRunMSpecWithOpenCover;
      AfterRunMSpecWithOpenCover;
      TransformMSpecXmlToJUnitXml;
    </RunMSpecWithOpenCoverDependsOn>
  </PropertyGroup>

  <Target Name="RunMSpecWithOpenCover" DependsOnTargets="$(RunMSpecWithOpenCoverDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeRunMSpecWithOpenCover" />
  <Target Name="AfterRunMSpecWithOpenCover" />

  <Target Name="CoreRunMSpecWithOpenCover" >

    <Message Text="$(LoggingMessagePrefix) Running all the MSpec unit tests specified in the (MSpecAssemblies) item using OpenCover..." Importance="high" />
    
    <Error ContinueOnError="false" Text="The OpenCover MSpec results file was not specified" Condition="$(OpenCoverMSpec_ReportFilePath) == ''" />
    <Error ContinueOnError="false" Text="The OpenCover runner arguments to be used with MSpec were not specified" Condition="$(OpenCoverRunnerArgumentsForMSpec) == ''" />

    <Message Text="$(LoggingMessagePrefix) Running the MSpec unit tests with OpenCover..." Importance="normal" />
    <Exec ContinueOnError="true" Command='"$(OpenCoverRunner)" $(OpenCoverRunnerArgumentsForMSpec)'>
      <Output TaskParameter="exitcode" ItemName="ErrorsOcurredWhenRunningMSpecTests"/>
    </Exec>

  </Target>
  
</Project>
