<?xml version="1.0" encoding="utf-8"?>

<!--
"Your Stuff"

Place in this file your custom targets

For more help visit: https://github.com/jupaol/NCastor
-->

<Project DefaultTargets="BuildSolution" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <!--TODO: Place in this file your custom targets-->

</Project>
