<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateGitTag.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateGitTagDependsOn>
      FormatLabelName;
      BeforeCreateGitTag;
      CoreCreateGitTag;
      AfterCreateGitTag;
    </CreateGitTagDependsOn>
  </PropertyGroup>

  <Target Name="CreateGitTag" DependsOnTargets="$(CreateGitTagDependsOn)" Condition="$(CanCreateLabel) == 'true'"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateGitTag" />
  <Target Name="AfterCreateGitTag" />

  <Target Name="CoreCreateGitTag">

    <Error Text="The Git runner was not specified" Condition="$(GitRunner) == ''" />
    <Error Text="The Git runner was not found" Condition="!Exists($(GitRunner))" />
    <Error Text="The 'LabelName' is required" Condition="$(LabelName) == ''" />

    <Message Text="Creating the label : $(LabelName)"/>
    <Exec Command='"$(GitRunner)" tag -a "$(LabelName)" -m "$(LabelName)"'/>
    
  </Target>
  
</Project>
