<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateGitTag.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateGitTagDependsOn>
      FormatLabelName;
      BeforeCreateGitTag;
      CoreCreateGitTag;
      AfterCreateGitTag;
    </CreateGitTagDependsOn>
  </PropertyGroup>

  <Target Name="CreateGitTag" DependsOnTargets="$(CreateGitTagDependsOn)" Condition="$(CreateLabel) == 'true'"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateGitTag" />
  <Target Name="AfterCreateGitTag" />

  <Target Name="CoreCreateGitTag">

    <Error Text="The Git runner was not specified" Condition="$(GitRunner) == ''" />
    <Error Text="The Git runner was not found" Condition="!Exists($(GitRunner))" />
    <Error Text="The 'LabelName' is required to create the Git tag" Condition="$(LabelName) == ''" />
    <Error Text="The Git timeout used to push the tag is required" Condition="$(GitPushTimeOut) == ''"/>
    <Error Text="The Git default remote used to push the tag is required" Condition="$(GitDefaultRemote) == ''"/>

    <PropertyGroup>
      <_GitLabelResultFilePath>$(WorkingDirectoryPath)\GitLabelResult.txt</_GitLabelResultFilePath>
    </PropertyGroup>

    <!--Check to see if the tag already exists in the Git repository-->
    <Exec 
      Command='"$(GitRunner)" tag -l "$(LabelName)" >> "$(_GitLabelResultFilePath)"'
      WorkingDirectory='$(GlobalRootPath)'/>
    <ReadLinesFromFile File="$(_GitLabelResultFilePath)" >
      <Output ItemName="_Git_Tags_Found" TaskParameter="Lines"/>
    </ReadLinesFromFile>
    <MSBuild.ExtensionPack.Framework.MsBuildHelper TaskAction="GetItemCount" InputItems1="@(_Git_Tags_Found)">
      <Output TaskParameter="ItemCount" PropertyName="_Git_Tags_Found_Count"/>
    </MSBuild.ExtensionPack.Framework.MsBuildHelper>
    <MSBuild.Community.Tasks.Time Format="MM.dd.yyyy.HH.mm">
      <Output TaskParameter="FormattedTime" PropertyName="_Git_Tag_Sufix_Timing" />
    </MSBuild.Community.Tasks.Time>
    <PropertyGroup Condition="$(_Git_Tags_Found_Count) != 0">
      <LabelName>$(LabelName)_date_$(_Git_Tag_Sufix_Timing)</LabelName>
    </PropertyGroup>

    <Message Text="Creating the tag: $(LabelName)"/>
    <Exec 
      Command='"$(GitRunner)" tag -a "$(LabelName)" -m "$(LabelName)"'
      WorkingDirectory='$(GlobalRootPath)'/>
    
    <Message Text='Pushing the tag: $(LabelName)' />
    <Exec
      Command='"$(GitRunner)" push $(GitDefaultRemote) $(LabelName)'
      WorkingDirectory='$(GlobalRootPath)' 
      Timeout='$(GitPushTimeOut)'/>

  </Target>
  
</Project>
