<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <PackageSourceCodeDependsOn>
      CleanSourceCodeArtefacts;
      IsolateSourceCode;
      BeforePackageSourceCode;
      CorePackageSourceCode;
      AfterPackageSourceCode;
    </PackageSourceCodeDependsOn>
  </PropertyGroup>

  <Target Name="PackageSourceCode" DependsOnTargets="$(PackageSourceCodeDependsOn)" />

  <Target Name="BeforePackageSourceCode" />
  <Target Name="AfterPackageSourceCode" />
  
  <Target Name="CorePackageSourceCode" >

    <PropertyGroup>
      <SourceCodePackageFilePath Condition="$(SourceCodePackageFilePath) == ''">$(DropsPath)\$(PackageName).Source.v$(SemanticVersion).zip</SourceCodePackageFilePath>
    </PropertyGroup>

    <ItemGroup>
      <_SourceCodeFiles Include="$(SourceCodeTmpPath)\**\*" />
    </ItemGroup>

    <MsBuild.Community.tasks.Zip ZipFileName="$(SourceCodePackageFilePath)"
                                 Files="@(_SourceCodeFiles)"
                                 WorkingDirectory="$(SourceCodeTmpPath)"
                                 Flatten="False" />

  </Target>

</Project>
