<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateLabels.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateLabelsDependsOn>
      BeforeCreateLabels;

      CreateGitTag;
      CreateSvnTag;
      CreateTfsLabel;
      CoreCreateLabels;

      AfterCreateLabels;
    </CreateLabelsDependsOn>
  </PropertyGroup>

  <Target Name="CreateLabels" DependsOnTargets="$(CreateLabelsDependsOn)" Condition="$(CreateLabel) == 'true'"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateLabels" />
  <Target Name="AfterCreateLabels" />

  <Target Name="CoreCreateLabels" />
  
</Project>
