<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="FormatLabelName.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <FormatLabelNameDependsOn>
      CalculateSemanticVersion;
      FormatLabelNamePrefix;
      FormatLabelNameSufixWhenLabelExists;
      BeforeFormatLabelName;
      CoreFormatLabelName;
      AfterFormatLabelName;
    </FormatLabelNameDependsOn>
  </PropertyGroup>

  <Target Name="FormatLabelName" DependsOnTargets="$(FormatLabelNameDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeFormatLabelName" />
  <Target Name="AfterFormatLabelName" />

  <Target Name="CoreFormatLabelName" >

    <Message Text="$(LoggingMessagePrefix) Formatting the label name..." Importance="high" />
    
    <Error Text="The 'SemanticVersion' is used as part of the tag name, therefore it can not be emty" Condition="$(SemanticVersion) == ''"/>
    <Error Text="The 'LabelNamePrefix' is sued as part of the tag name, therefore it can not be emty" Condition="$(LabelNamePrefix) == ''"/>

    <PropertyGroup>
      <LabelName>$(LabelNamePrefix)$(SemanticVersion)</LabelName>
    </PropertyGroup>
    
  </Target>
  
</Project>
