<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="ShouldCreateLabel.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <ShouldCreateLabelDependsOn>
      BeforeShouldCreateLabel;
      CoreShouldCreateLabel;
      AfterShouldCreateLabel;
    </ShouldCreateLabelDependsOn>
  </PropertyGroup>

  <Target Name="ShouldCreateLabel" DependsOnTargets="$(ShouldCreateLabelDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeShouldCreateLabel" />
  <Target Name="AfterShouldCreateLabel" />

  <Target Name="CoreShouldCreateLabel" >

    <PropertyGroup>
      <CanCreateLabel>false</CanCreateLabel>
      <CanCreateLabel Condition="$(IsDesktopBuild) == 'false' and $(Environment) != '' and $(Environment) != 'local'">true</CanCreateLabel>
    </PropertyGroup>
    
  </Target>
  
</Project>
