<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="IsolateSourceCode.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <IsolateSourceCodeDependsOn>
      CleanSourceCodeArtifactDirectories;
      BeforeIsolateSourceCode;
      CoreIsolateSourceCode;
      AfterIsolateSourceCode;
    </IsolateSourceCodeDependsOn>
  </PropertyGroup>

  <Target Name="IsolateSourceCode" DependsOnTargets="$(IsolateSourceCodeDependsOn)" />

  <!-- To be overriden by the user -->
  <Target Name="BeforeIsolateSourceCode"  />
  <Target Name="AfterIsolateSourceCode" />

  <Target Name="CoreIsolateSourceCode" >

    <Message Text="$(LoggingMessagePrefix) Isolating the source code..." Importance="high" />
    
    <ItemGroup>
      <SourceFilesToCopy
            Include=" $(SolutionsPath)\**\*.*;"
            Exclude=" $(SolutionsPath)\**\bin\**;
                      $(SolutionsPath)\**\.svn\**;
                      $(SolutionsPath)\**\Logs\**;
                      $(DropsPath)\**;
                      $(WorkingDirectoryPath)\**;
                      $(SolutionsPath)\**\Logs\**;
                      $(SolutionsPath)\**\obj\**;
                      $(SolutionsPath)\**\*.suo;
                      $(SolutionsPath)\**\*.cache;
                      $(SolutionsPath)\**\_ReSharper*\**;
                      $(SolutionsPath)\**\*ReSharper*"/>
    </ItemGroup>

    <Message 
      Text="$(LoggingMessagePrefix) Creating source code artifac directories..." 
      Importance="normal" 
      Condition="!Exists($(SourceCodeTmpPath))" />
    <MakeDir ContinueOnError="false" Directories="$(SourceCodeTmpPath)" Condition="!Exists($(SourceCodeTmpPath))" />

    <Message Text="$(LoggingMessagePrefix) Copying source code files..." Importance="normal" />
    <Copy SourceFiles="@(SourceFilesToCopy)" DestinationFiles="@(SourceFilesToCopy->'$(SourceCodeTmpPath)\%(RecursiveDir)%(Filename)%(Extension)')" />
    
  </Target>
  
</Project>
