<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="SetNUnitArguments.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <SetNUnitArgumentsDependsOn>
      BeforeSetNUnitArguments;
      CoreSetNUnitArguments;
      AfterSetNUnitArguments;
    </SetNUnitArgumentsDependsOn>
  </PropertyGroup>

  <Target Name="SetNUnitArguments" DependsOnTargets="$(SetNUnitArgumentsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeSetNUnitArguments" />
  <Target Name="AfterSetNUnitArguments" />

  <Target Name="CoreSetNUnitArguments" >

    <Message Text="$(LoggingMessagePrefix) Parsing all the NUnit assemblies to test specified in the (NUnitAssemblies) item..." Importance="high" />
    <ItemGroup>
      <_NUnitAssemblies Include="@(NUnitAssemblies->'&quot;%(Identity)&quot;')" />
    </ItemGroup>

  </Target>
  
</Project>
