<?xml version="1.0" encoding="utf-8" ?>

<!--
"Your stuff"

Your Backup targets
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <BackupDependsOn>
      BeforeBackup;

      BackupArtefacts;
      CoreBackup;

      AfterBackup;
    </BackupDependsOn>
  </PropertyGroup>
  <Target Name="Backup" DependsOnTargets="$(BackupDependsOn)"/>

</Project>
