<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateSvnTag.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateSvnTagDependsOn>
      FormatLabelName;
      BeforeCreateSvnTag;
      CoreCreateSvnTag;
      AfterCreateSvnTag;
    </CreateSvnTagDependsOn>
  </PropertyGroup>

  <Target Name="CreateSvnTag" DependsOnTargets="$(CreateSvnTagDependsOn)" Condition="$(CreateLabel) == 'true'"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateSvnTag" />
  <Target Name="AfterCreateSvnTag" />

  <Target Name="CoreCreateSvnTag" >

    <Error Text="The Svn runners path was not specified" Condition="$(SvnRunnersPath) == ''" />
    <Error Text="The Svn runners path was not found" Condition="!Exists($(SvnRunnersPath))" />
    <Error Text="The 'LabelName' is required to create the Svn tag" Condition="$(LabelName) == ''" />
    <Error Text="The Svn tags Url was not specified" Condition="$(SvnTagsUrl) == ''" />

    <Message Text="Getting the current SVN URL:" />
    <MSBuild.Community.Tasks.Subversion.SvnInfo 
      LocalPath="$(GlobalRootPath)" 
      ToolPath="$(SvnRunnersPath)">
      <Output TaskParameter="RepositoryPath" PropertyName="_Current_SVN_Repo_URL" />
    </MSBuild.Community.Tasks.Subversion.SvnInfo>
    <Message Text="Repo URL: $(_Current_SVN_Repo_URL)" />
    
    <Message Text="Checking to see if the tag already exists"/>
    <!-- this task will look up the tag supplied.  
    If it exists it will return a code of 0 
    Technically this is a success but for this instance, 
    it is a failure because we don't want to find it! -->
    <MSBuild.Community.Tasks.Subversion.SvnClient
      Command='ls "$(SvnTagsUrl)/$(LabelName)"'
      ContinueOnError="true">
      <Output TaskParameter="ExitCode" PropertyName="_SVN_Tag_Exists_Exit_Code"/>
    </MSBuild.Community.Tasks.Subversion.SvnClient>
    <Message Text="ExitCode = $(_SVN_Tag_Exists_Exit_Code)"/>
    <MSBuild.Community.Tasks.Time Format="MM.dd.yyyy.HH.mm" Condition="$(_SVN_Tag_Exists_Exit_Code) == '0'">
      <Output TaskParameter="FormattedTime" PropertyName="_Svn_Tag_Sufix_Timing" />
    </MSBuild.Community.Tasks.Time>
    <PropertyGroup Condition="$(_SVN_Tag_Exists_Exit_Code) == '0'">
      <_Svn_Tag_Sufix_When_Tag_Already_Exists>_date_$(_Svn_Tag_Sufix_Timing)</_Svn_Tag_Sufix_When_Tag_Already_Exists>
    </PropertyGroup>
    <Warning 
      Condition="$(_SVN_Tag_Exists_Exit_Code) == '0'" 
      Text="The Tag: $(LabelName) already exists! The new tag will be: $(LabelName)$(_Svn_Tag_Sufix_When_Tag_Already_Exists)"/>
    <PropertyGroup Condition="$(_SVN_Tag_Exists_Exit_Code) == '0'">
      <LabelName>$(LabelName)$(_Svn_Tag_Sufix_When_Tag_Already_Exists)</LabelName>
    </PropertyGroup>
    <Message Text="Finished Checking to see if the tag already exists"/>

    <Message Text="Creating the tag: $(LabelName)" />
    <MSBuild.Community.Tasks.Subversion.SvnCopy 
      ToolPath="$(SvnRunnersPath)"
      SourcePath="$(_Current_SVN_Repo_URL)"
      DestinationPath="$(SvnTagsUrl)/$(LabelName)"
      Message="NCastor AutoBuilder Auto-Tagging: $(LabelName) From Build: $(InformationalVersion)" />

  </Target>
  
</Project>
