<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="RunNUnitWithOpenCover.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <RunNUnitWithOpenCoverDependsOn>
      SettingNUnitTestingAssemblies;
      SettingInstrumentationAssemblies;
      ValidateNUnitProperties;
      ValidateOpenCoverProperties;
      CleanNUnitArtifactDirectories;
      CreateNUnitArtifactDirectories;
      SetNUnitWithOpenCoverArguments;
      CustomizeNUnitWithOpenCoverArguments;
      BeforeRunNUnitWithOpenCover;
      CoreRunNUnitWithOpenCover;
      AfterRunNUnitWithOpenCover;
      CreateNUnitReport;
    </RunNUnitWithOpenCoverDependsOn>
  </PropertyGroup>

  <Target Name="RunNUnitWithOpenCover" DependsOnTargets="$(RunNUnitWithOpenCoverDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeRunNUnitWithOpenCover" />
  <Target Name="AfterRunNUnitWithOpenCover" />

  <Target Name="CoreRunNUnitWithOpenCover" >

    <Message Text="$(LoggingMessagePrefix) Running all the NUnit unit tests specified in the (NUnitAssemblies) item using OpenCover..." Importance="high" />

    <Error ContinueOnError="false" Text="The OpenCover NUnit results file was not specified" Condition="$(OpenCoverNUnit_ReportFilePath) == ''" />
    <Error Text="The NUnit runner arguments were not specified" Condition="$(OpenCoverRunnerArgumentsForNUnit) == ''" />

    <Message Text="$(LoggingMessagePrefix) Running the NUnit unit tests with OpenCover..." Importance="normal" />
    <Exec ContinueOnError="true" Command='"$(OpenCoverRunner)" $(OpenCoverRunnerArgumentsForNUnit)'>
      <Output TaskParameter="exitcode" ItemName="ErrorsOcurredWhenRunningNUnitTests"/>
    </Exec>

  </Target>
  
</Project>
