<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CalculateRevisionNumberDependsOn>
      BeforeCalculateRevisionNumber;
      CoreCalculateRevisionNumber;
      AfterCalculateRevisionNumber;
    </CalculateRevisionNumberDependsOn>
  </PropertyGroup>

  <Target Name="CalculateRevisionNumber" DependsOnTargets="$(CalculateRevisionNumberDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCalculateRevisionNumber" />
  <Target Name="AfterCalculateRevisionNumber" />

  <Target Name="CoreCalculateRevisionNumber" />
  
</Project>
