<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateOpenCoverMSTestCodeCoverageReportDependsOn>
      BeforeCreateOpenCoverMSTestCodeCoverageReport;
      CoreCreateOpenCoverMSTestCodeCoverageReport;
      AfterCreateOpenCoverMSTestCodeCoverageReport;
    </CreateOpenCoverMSTestCodeCoverageReportDependsOn>
  </PropertyGroup>

  <Target Name="CreateOpenCoverMSTestCodeCoverageReport" DependsOnTargets="$(CreateOpenCoverMSTestCodeCoverageReportDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateOpenCoverMSTestCodeCoverageReport" />
  <Target Name="AfterCreateOpenCoverMSTestCodeCoverageReport" />

  <Target Name="CoreCreateOpenCoverMSTestCodeCoverageReport" >

    <Error ContinueOnError="false" Text="The report generator runner was not specified" Condition="$(ReportGeneratorRunner) == ''" />
    <Error ContinueOnError="false" Text="The report generator runner was not found" Condition="!Exists($(ReportGeneratorRunner))" />
    <Error ContinueOnError="false" Text="The MSTest code coverage report path was not specified" Condition="$(ReportGeneratorMSTestReportPath) == ''" />

    <Microsoft.Sdc.Tasks.Folder.CleanFolder Path="$(ReportGeneratorMSTestReportPath)" ContinueOnError="false" Condition="Exists($(ReportGeneratorMSTestReportPath))" />
    <RemoveDir ContinueOnError="false" Directories="$(ReportGeneratorMSTestReportPath)" Condition="Exists($(ReportGeneratorMSTestReportPath))" />

    <MakeDir ContinueOnError="false" Directories="$(ReportGeneratorMSTestReportPath)" Condition="!Exists($(ReportGeneratorMSTestReportPath))" />

    <Exec ContinueOnError="false" Command='"$(ReportGeneratorRunner)" "$(OpenCoverMSTest_ReportFilePath)" "$(ReportGeneratorMSTestReportPath)"' />

  </Target>
  
</Project>
