<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <RunNUnitTestsDependsOn>
      SettingNUnitTestingAssemblies;
      CleanNUnitArtefactFolders;
      CreateNUnitArtefactFolders;
      BeforeRunNUnitTests;
      CoreRunNUnitTests;
      AfterRunNUnitTests;
    </RunNUnitTestsDependsOn>
  </PropertyGroup>

  <Target Name="RunNUnitTests" DependsOnTargets="$(RunNUnitTestsDependsOn)" />
  
  <!-- To be overriden by the user -->
  <Target Name="BeforeRunNUnitTests" />
  <Target Name="AfterRunNUnitTests" />

  <Target Name="CoreRunNUnitTests" >

    <Error ContinueOnError="false" Text="The NUnit runner was not found" Condition="!Exists($(NUnitRunner))"></Error>
    <Error ContinueOnError="false" Text="The NUnit xml report file path was not specified" Condition="$(NUnitXmlReportFilePath) == ''"></Error>
    <Error ContinueOnError="false" Text="The NUnit assemblies were not specified" Condition="@(NUnitAssemblies) == ''" />
    <Error ContinueOnError="false" Text="The NUnit test assembly was not found: &quot;%(NUnitAssemblies.Identity)&quot;" Condition="!Exists(%(NUnitAssemblies.Identity))" />

    <!--TODO: check this-->
    <MSBuild.Community.Tasks.NUnit Assemblies="@(NUnitAssemblies)"
                                   ToolPath="$([System.IO.Directory]::GetParent($(NUnitRunner)))"
                                   OutputXmlFile="$(NUnitXmlReportFilePath)"
                                   ContinueOnError="true">
      <Output TaskParameter="exitcode" ItemName="ErrorsOcurredWhenRunningNUnitTests"/>
    </MSBuild.Community.Tasks.NUnit>

  </Target>
  
</Project>
