<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CleanMSpecArtefactFolders.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CleanMSpecArtefactFoldersDependsOn>
      BeforeCleanMSpecArtefactFolders;
      CoreCleanMSpecArtefactFolders;
      AfterCleanMSpecArtefactFolders;
    </CleanMSpecArtefactFoldersDependsOn>
  </PropertyGroup>

  <Target Name="CleanMSpecArtefactFolders" DependsOnTargets="$(CleanMSpecArtefactFoldersDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCleanMSpecArtefactFolders" />
  <Target Name="AfterCleanMSpecArtefactFolders" />

  <Target Name="CoreCleanMSpecArtefactFolders" >

    <Message Text="$(LoggingMessagePrefix) Cleaning all the MSpec artifact directories..." Importance="high" />
    
    <Error ContinueOnError="false" Text="The MSpec results path was not specified" Condition="$(MSpecResultsPath) == ''" />

    <Message 
      Text="$(LoggingMessagePrefix) Removing directory: ($(MSpecResultsPath))..." 
      Importance="normal" 
      Condition="Exists($(MSpecResultsPath))" />
    <NCastor.AutoBuilder.Tasks.FileSystem.Folder.RemoveDirectoryWithRetries 
      RetryCount="$(NumberOfRetriesWhenDeletingFolders)" 
      ContinueOnError="false" 
      Directories="$(MSpecResultsPath)" 
      Condition="Exists($(MSpecResultsPath))" />

    <MSBuild.Community.Tasks.Sleep Milliseconds="$(DelayAfterDeletingFolders)" />

    <Message Text="$(LoggingMessagePrefix) Ensuring all the MSpec artifact directories were removed..." Importance="normal" />
    <Error ContinueOnError="false" Text="There was a problem when cleaning the MSpec reports directory" Condition="Exists($(MSpecResultsPath))" />

  </Target>  
  
</Project>
