<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <RunTestsDependsOn>
      Build;
      SettingInstrumentationAssemblies;
      BeforeRunTests;

      RunNUnitTests;
      RunMSTests;
      RunMSpecTests;

      RunNUnitTestsWithOpenCover;
      RunMSTestTestsWithOpenCover;
      RunMSpecTestsWithOpenCover;
      
      CoreRunTests;
      AfterRunTests;
    </RunTestsDependsOn>
  </PropertyGroup>

  <Target Name="RunTests" DependsOnTargets="$(RunTestsDependsOn)" />
  
  <!-- To be overriden by the user -->
  <Target Name="BeforeRunTests" />
  <Target Name="AfterRunTests" />

  <Target Name="CoreRunTests" />
  
</Project>
