<?xml version="1.0" encoding="utf-8" ?>

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <SettingTestingAssembliesDependsOn>
      BeforeSettingTestingAssemblies;
      CoreSettingTestingAssemblies;
      AfterSettingTestingAssemblies;
    </SettingTestingAssembliesDependsOn>
  </PropertyGroup>

  <Target Name="SettingTestingAssemblies" DependsOnTargets="$(SettingTestingAssembliesDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeSettingTestingAssemblies" />
  <Target Name="AfterSettingTestingAssemblies" />

  <Target Name="CoreSettingTestingAssemblies" >

    <MSBuild.ExtensionPack.FileSystem.RoboCopy
      Source="$(BuildingPath)"
      Destination="$(TestAssembliesPath)"
      Files="*.*;"
      Options="/MIR"/>

  </Target>
  
</Project>
