<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CustomizeMSTestWithOpenCoverArguments.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CustomizeMSTestWithOpenCoverArgumentsDependsOn>
      BeforeCustomizeMSTestWithOpenCoverArguments;
      CoreCustomizeMSTestWithOpenCoverArguments;
      AfterCustomizeMSTestWithOpenCoverArguments;
    </CustomizeMSTestWithOpenCoverArgumentsDependsOn>
  </PropertyGroup>

  <Target Name="CustomizeMSTestWithOpenCoverArguments" DependsOnTargets="$(CustomizeMSTestWithOpenCoverArgumentsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCustomizeMSTestWithOpenCoverArguments" />
  <Target Name="AfterCustomizeMSTestWithOpenCoverArguments" />

  <Target Name="CoreCustomizeMSTestWithOpenCoverArguments" >

    <Message Text="$(LoggingMessagePrefix) Setting up MSTest and OpenCover arguments..." Importance="high" />

    <Error Text="The MSTest assemblies were not parsed or they were not specified" Condition="@(_MSTestContainersToRunCodeCoverage) == ''"/>
    <Error Text="The instrumentation assemblies were not parsed or they were not specified" Condition="@(_AssembliesToInstrumentWithOpenCoverMSTest) == ''"/>

    <PropertyGroup>
      <MSTestRunnerWithOpenCoverArguments>@(_MSTestContainersToRunCodeCoverage, ' ') /detail:errormessage /detail:errorstacktrace /detail:stderr /resultsfile:\"$(MSTestReportFilePath)\"</MSTestRunnerWithOpenCoverArguments>
      <_OpenCoverMSTestCommand>-target:"$(MSTestRunner)"  -targetargs:"$(MSTestRunnerWithOpenCoverArguments)"</_OpenCoverMSTestCommand>
      <OpenCoverRunnerArgumentsForMSTest>-targetdir:"$(TestAssembliesPath)" -mergebyhash -register -returntargetcode -filter:"@(_AssembliesToInstrumentWithOpenCoverMSTest, ' ')" -output:"$(OpenCoverMSTest_ReportFilePath)" $(_OpenCoverMSTestCommand)</OpenCoverRunnerArgumentsForMSTest>
    </PropertyGroup>

  </Target>
  
</Project>
