<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="RunMSTests.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <RunMSTestsDependsOn>
      SettingMSTestTestingAssemblies;
      ValidateMSTestProperties;
      CleanMSTestArtifactDirectories;
      CreateMSTestArtifactDirectories;
      SetMSTestsArguments;
      CustomizeMSTestArguments;
      BeforeRunMSTests;
      CoreRunMSTests;
      AfterRunMSTests;
      CreateMSTestReport;
    </RunMSTestsDependsOn>
  </PropertyGroup>

  <Target Name="RunMSTests" DependsOnTargets="$(RunMSTestsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeRunMSTests" />
  <Target Name="AfterRunMSTests" />

  <Target Name="CoreRunMSTests" >

    <Message Text="$(LoggingMessagePrefix) Running all the MSTest unit tests specified in the (MSTestContainers) item..." Importance="high" />

    <Error Text="The MSTest runner arguments are required" Condition="$(MSTestRunnerArguments) == ''" />
    
    <Delete Files="$(MSTestReportFilePath)" Condition="Exists($(MSTestReportFilePath))" />

    <Message Text="$(LoggingMessagePrefix) Running the MSTest unit tests..." Importance="normal" />
    <Exec ContinueOnError="true" Command='"$(MSTestRunner)" $(MSTestRunnerArguments)'>
      <Output TaskParameter="exitcode" ItemName="ErrorsOcurredWhenRunningMSTestTests"/>
    </Exec>

  </Target>
  
</Project>
