<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="SetMSTestsArguments.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <SetMSTestsArgumentsDependsOn>
      BeforeSetMSTestsArguments;
      CoreSetMSTestsArguments;
      AfterSetMSTestsArguments;
    </SetMSTestsArgumentsDependsOn>
  </PropertyGroup>

  <Target Name="SetMSTestsArguments" DependsOnTargets="$(SetMSTestsArgumentsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeSetMSTestsArguments" />
  <Target Name="AfterSetMSTestsArguments" />

  <Target Name="CoreSetMSTestsArguments" >

    <Message Text="$(LoggingMessagePrefix) Parsing all the MSTest assemblies to test specified in the (MSTestContainers) item..." Importance="high" />
    <ItemGroup>
      <_MSTestContainers Include="@(MSTestContainers->'/testcontainer:&quot;%(Identity)&quot;')" />
    </ItemGroup>

  </Target>
  
</Project>
