<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateMSTestReport.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateMSTestReportDependsOn>
      BeforeCreateMSTestReport;
      CoreCreateMSTestReport;
      AfterCreateMSTestReport;
    </CreateMSTestReportDependsOn>
  </PropertyGroup>

  <Target Name="CreateMSTestReport" DependsOnTargets="$(CreateMSTestReportDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateMSTestReport" />
  <Target Name="AfterCreateMSTestReport" />

  <Target Name="CoreCreateMSTestReport" >

    <Message Text="$(LoggingMessagePrefix) Generating an HTML report from the MSTest unit test results..." Importance="high" />
    
    <Exec 
      WorkingDirectory="$(MSTestResultsPath)" 
      Command='"$(MSTestReportGeneratorRunner)" $([System.IO.Path]::GetFileName($(MSTestReportFilePath)))' 
      ContinueOnError="false" />
    
  </Target>
  
</Project>
