<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateClickOncePackages.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <CreateClickOncePackagesDependsOn>
      PrepareClickOncePackages;
      ValidateClickOncePackages;
      CleanClickOncePackageArtefacts;
      CreateClickOncePackageArtefacts;
      BeforeCreateClickOncePackages;
      CoreCreateClickOncePackages;
      AfterCreateClickOncePackages;
    </CreateClickOncePackagesDependsOn>
  </PropertyGroup>

  <Target Name="CreateClickOncePackages" DependsOnTargets="$(CreateClickOncePackagesDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeCreateClickOncePackages" />
  <Target Name="AfterCreateClickOncePackages" />

  <Target Name="CoreCreateClickOncePackages" >

    <MSBuild
          Projects="%(ClickOnceProjects.Identity)"
          Properties="
            PublishDir=%(ClickOnceProjects.DestinationPath)\;
            ApplicationVersion=%(ClickOnceProjects.ApplicationVersion);
            OutputPath=%(ClickOnceProjects.WorkingDirectoryPath);
            %(ClickOnceProjects.ExtraProperties);"
          Targets="Publish" />

  </Target>

</Project>
