<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="DistributeArtefacts.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <DistributeArtefactsDependsOn>
      PrepareDistributeArtefacts;
      BeforeDistributeArtefacts;
      CoreDistributeArtefacts;
      AfterDistributeArtefacts;
    </DistributeArtefactsDependsOn>
  </PropertyGroup>

  <Target Name="DistributeArtefacts" DependsOnTargets="$(DistributeArtefactsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeDistributeArtefacts" />
  <Target Name="AfterDistributeArtefacts" />

  <Target Name="CoreDistributeArtefacts" >

    <Message Text="$(LoggingMessagePrefix) Distributing the artifacts specified in the (DistributeArtefactFiles) item..." Importance="high" />

    <Error 
      ContinueOnError="false"
      Condition="@(DistributeArtefactFiles) == ''"
      Text="You need to specify at least one set of files to Distribute"/>

    <Error
      ContinueOnError="false"
      Condition="%(DistributeArtefactFiles.OutputPath) == ''"
      Text="For each set of Distribute files, you need to specify the OutputPath"/>

    <Message
      Text="$(LoggingMessagePrefix) Creating all the (OutputPath) directories specified in the (DistributeArtefactFiles) item..."
      Importance="normal" />
    <MakeDir
      Condition="!Exists(%(DistributeArtefactFiles.OutputPath))"
      Directories="%(DistributeArtefactFiles.OutputPath)"/>

    <Message Text="$(LoggingMessagePrefix) Distributing the artifacts..." Importance="normal" />
    <Copy 
      ContinueOnError="false"
      SourceFiles="@(DistributeArtefactFiles)"
      DestinationFiles="@(DistributeArtefactFiles->'%(OutputPath)\%(RecursiveDir)%(Filename)%(Extension)')"/>

  </Target>
  
</Project>
