<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CleanMSpecOpenCoverWithRGArtefacts.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <Target Name='CleanMSpecOpenCoverWithRGArtefacts'>

    <Message Text="$(LoggingMessagePrefix) Cleaning all the MSpec artifact directories..." Importance="high" />
    
    <Error ContinueOnError="false" Text="The MSpec report path was not specified" Condition="$(ReportGeneratorMSpecReportPath) == ''" />

    <Message 
      Text="$(LoggingMessagePrefix) Removing directory: ($(ReportGeneratorMSpecReportPath))..." 
      Importance="normal" 
      Condition="Exists($(ReportGeneratorMSpecReportPath))" />
    <NCastor.AutoBuilder.Tasks.FileSystem.Folder.RemoveDirectoryWithRetries 
      RetryCount="$(NumberOfRetriesWhenDeletingFolders)" 
      ContinueOnError="false" 
      Directories="$(ReportGeneratorMSpecReportPath)" 
      Condition="Exists($(ReportGeneratorMSpecReportPath))" />

    <MSBuild.Community.Tasks.Sleep Milliseconds="$(DelayAfterDeletingFolders)" />

    <Message Text="$(LoggingMessagePrefix) Ensuring all the MSpec artifact directories were removed..." Importance="normal" />
    <Error ContinueOnError="false" Text="There was a problem when cleaning the MSpec code coverage reports directory (MSpec-OpenCover-ReportGenerator)" Condition="Exists($(ReportGeneratorMSpecReportPath))" />

  </Target>

</Project>
