<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="CreateNUnitOpenCoverWithRGArtefacts.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <Target Name='CreateNUnitOpenCoverWithRGArtefacts'>

    <Message Text="$(LoggingMessagePrefix) Creating all the NUnit artifact directories..." Importance="high" />

    <Message
      Text="$(LoggingMessagePrefix) Creating directory: ($(ReportGeneratorNUnitReportPath))..."
      Importance="normal" 
      Condition="!Exists($(ReportGeneratorNUnitReportPath))" />
    <MakeDir ContinueOnError="false" Directories="$(ReportGeneratorNUnitReportPath)" Condition="!Exists($(ReportGeneratorNUnitReportPath))" />

  </Target>

</Project>
