<?xml version="1.0" encoding="utf-8" ?>

<!--
<copyright file="BackupArtefacts.target" company="Juan Pablo Olmos Lara (Jupaol)">

  jupaol@hotmail.com
  http://jupaol.blogspot.com/

</copyright>
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <BackupArtefactsDependsOn>
      PrepareBackupArtefacts;
      BeforeBackupArtefacts;
      CoreBackupArtefacts;
      AfterBackupArtefacts;
    </BackupArtefactsDependsOn>
  </PropertyGroup>

  <Target Name="BackupArtefacts" DependsOnTargets="$(BackupArtefactsDependsOn)"/>

  <!-- To be overriden by the user -->
  <Target Name="BeforeBackupArtefacts" />
  <Target Name="AfterBackupArtefacts" />

  <Target Name="CoreBackupArtefacts" >

    <Error 
      ContinueOnError="false"
      Condition="@(BackupArtefactFiles) == ''"
      Text="You need to specify at least one set of files to backup"/>

    <Error
      ContinueOnError="false"
      Condition="%(BackupArtefactFiles.BackupPath) == ''"
      Text="For each set of backup files, you need to specify the BackupPath"/>

    <MakeDir
      Condition="!Exists(%(BackupArtefactFiles.BackupPath))"
      Directories="%(BackupArtefactFiles.BackupPath)"/>
    
    <Copy 
      ContinueOnError="false"
      SourceFiles="@(BackupArtefactFiles)"
      DestinationFiles="@(BackupArtefactFiles->'%(BackupPath)\%(RecursiveDir)%(Filename)%(Extension)')"/>

  </Target>
  
</Project>
