<?xml version="1.0" encoding="utf-8"?>

<!-->
"Your stuff"

Your custom settings
-->

<Project DefaultTargets="All" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <!-- TODO: Place your custom settings here -->

  <!--Uncomment-->
  <PropertyGroup>

    <!--Uncomment according to your needs-->
    <!--<MSTestRunner>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\MSTest.exe</MSTestRunner>-->

  </PropertyGroup>

</Project>
